
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .quantity__minus,
  .quantity__plus {
      cursor: pointer;
    display: block;
    padding: 0;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    background: #c5c5c5;
    text-align: center;
    line-height: 1rem;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
    background: #383b38;
    color: #fff;
  } 
  .quantity__minus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__input {
    
    width: 2rem;
    height: 1.3rem;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid #dee0ee;
    border-bottom: 1px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 1px solid #dee0ee;
    background: #fff;
    color: #8184a1;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }